.navbar {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    min-height: 115px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.company_logo {
    max-height: 80px;
    height: 50%;
}

.nav_options {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.nav_options ::deep a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav_options ::deep a:hover {
    color: #38BDF8;
    text-decoration: underline;
}

.nav_options ::deep a:hover img {
    fill: #38BDF8;
}

.nav_options ::deep a:link,
.nav_options ::deep a:visited {
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.nav_options ::deep a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #38BDF8;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: .2s all ease-out;
}

.nav_options ::deep a:hover::after {
    transform: scale(1);
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
