<div class="navbar">
    <div class="icon-hamburger-div">
        <NavLink href="/">
            <img class="company_logo" src="images/hogent_logo.png"/>
        </NavLink>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <img src="images/hamburger.svg"/>
        </button>
    </div>
    <div class="nav_options @NavVisibleCss" @onclick="ToggleNavMenu">
        @*
        ########## Om link te maken met andere pagina vervang "/" met "/*pagina_naam*" ##########
        *@
            <div class="nav_option"><NavLink href="/" class="nav_link">Gebruikers</NavLink></div>
            <div class="nav_option"><NavLink href="/" class="nav_link">Klanten</NavLink></div>
            <div class="nav_option"><NavLink href="/virtualmachines" class="nav_link">Virtuele Machines</NavLink></div>
            <div class="nav_option"><NavLink href="/" class="nav_link">Aanvragen</NavLink></div>
            <div class="nav_option"><NavLink href="/" class="nav_link">Historiek</NavLink></div>
            <div class="nav_option"><NavLink href="/" class="nav_link icon_link">
                <img src="images/user--avatar.svg"/> <span class="goneIfScreenBig">Account</span>
            </NavLink></div>
            <div class="nav_option"><NavLink href="/" class="nav_link icon_link">
                <img src="images/logout.svg"/> <span class="goneIfScreenBig">Log uit</span>
            </NavLink></div>
    </div>
</div>

@code {
    private bool disappearOptions = true;

    private string? NavVisibleCss => disappearOptions ? "gone" : null;

    private void ToggleNavMenu()
    {
        disappearOptions = !disappearOptions;
    }
}
