.navbar {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /*min-height: 115px;*/
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 0;
}

.icon-hamburger-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

::deep .company_logo {
    height: 70px;
    margin: 10px;
    fill: var(--clr-text-color);
}

.nav_options {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid var(--clr-secondary);
}

.nav_option:nth-child(2n) {
    background-color: var(--clr-primary);
}

.nav_option:nth-child(2n+1) {
    background-color: var(--clr-background-blue);
}

.nav_option ::deep a:hover, .nav_option ::deep a:hover svg{
    background-color: var(--clr-secondary);
    color: var(--clr-CTA);
    fill: var(--clr-CTA);
}

.nav_option {
    height: 50px;
    width: 100%;
}

.nav_option ::deep a {
    text-decoration: none;
    color: var(--clr-text-color); 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-toggler {
    height: min-content;
    color: var(--clr-text-color);
}
.navbar-toggler img {
    height: 50px;
}

.gone {
    display: none;
}

.goneIfScreenBig {
    margin-left: 10px;
}

@media (min-width: 981px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .icon-hamburger-div {
        width: max-content;
    }

    .nav_options {
        width: max-content;
        flex-direction: row;
        justify-content: normal;
        gap: 30px;
        margin-top: 0px;
        margin-right: 10px;
        border:none;
    }

    .nav_option:nth-child(2n) {
        background: none;
    }

    .nav_option:nth-child(2n+1) {
        background: none;
    }

    .nav_option {
        width: auto;
    }

    .nav_option ::deep a {
        padding: 5px;
        width: auto;
    }

    .nav_option ::deep a:hover
    {
    background: none;
    color: var(--clr-CTA);
    border-bottom: 1px solid var(--clr-CTA);
    }

    .nav_option ::deep a:hover svg {
        background: none;
        fill: var(--clr-CTA);
    }

    .navbar-toggler {
        display: none;
    }

    .gone {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }

    .goneIfScreenBig {
        display: none;
    }
}
