
<table>
    <thead> 
        <tr>

        @foreach (var fieldInfo in mockKlanten.First().GetType().GetFields())
        {
            var Key = fieldInfo.Name;
            var b = string.Concat(@Key[0].ToString().ToUpper(), @Key.AsSpan(1));

            <th>@b</th>
        }

        </tr>
    </thead>

    <tbody>

    @foreach (object Item in mockKlanten)
    {
        <tr>
            @foreach (var fieldInfo in Item.GetType().GetFields())
            {
                var Key = fieldInfo.Name;
                var Value = fieldInfo.GetValue(Item);

                @if (@Key == "activiteit")
                {
                    <td><img src="favicon.png" /></td>
                }
                else
                {
                    <td>@Value</td>
                }   
            }
        </tr>
    }

    </tbody>

</table>

@code {
    public class Klant
    {
        public string naam = "";
        public string type = "";
        public string email = "";
        public string departement = "";
    };

    public ICollection<Klant> mockKlanten = new List<Klant> {
        new Klant() { naam = "Marc Asselberg", type = "Intern", email = "marc.asselberg@hogent.be", departement="HOGENT" },
        new Klant() { naam = "Marc Asselberg", type = "Intern", email = "marc.asselberg@hogent.be", departement="HOGENT" },
        new Klant() { naam = "Marc Asselberg", type = "Intern", email = "marc.asselberg@hogent.be", departement="HOGENT" }
    };
}
