@using System.Globalization
@typeparam T


@if (isRequestingDelete)
{
    <div class="delete-background">
        <div class="delete-window">
            <h2>Bent U zeker dat U dit item wil verwijderen?</h2>
            <div class="delete-window-buttons">
                @if (_id == -1){
                    <button class="btn-delete" @onclick="() => {
                        OnDeleteWithString(_stringId);
                        SetDeleteFalse();
                    }">
                        Verwijderen
                    </button>
                } else {
                    <button class="btn-delete" @onclick="() => {
                            OnDelete(_id);
                            SetDeleteFalse();
                        }">
                        Verwijderen
                    </button>
                }
                <button class="btn-primary"
            @onclick=SetDeleteFalse>
                    Annuleren
                </button>
            </div>
        </div>
    </div>
}
<section>
    <table>
        <thead>
            <tr>
                @foreach (var fieldInfo in Object!.GetType().GetFields())
                {
                    var name = fieldInfo.Name;
                    @*name = string.Concat(name[0].ToString().ToUpper(), name.AsSpan(1));*@
                    name = String.Join(" ", name.Split("_").ToArray());
                    if (!name.Equals("Id"))
                    {
                        <th>@name</th>
                    }
                }

                @if (InfoCallback.HasDelegate || DeleteCallback.HasDelegate || EditCallback.HasDelegate || EditCallbackWithString.HasDelegate || DeleteCallbackWithString.HasDelegate)
                {
                    <th>Acties</th>
                }
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Collection)
            {
                <tr>
                    @foreach (var fieldInfo in item.GetType().GetFields())
                    {
                        var key = fieldInfo.Name;
                        var value = fieldInfo.GetValue(item);

                        if(value is DateTime dateTime){
                            <td>@dateTime.ToString("dd/MM/yyyy")</td>
                        }
                        else if (!key.Equals("Id"))
                        {
                            <td>@value</td>

                        }

                        if (key.Equals("Id")){
                            Console.WriteLine("Id = ", fieldInfo.GetValue(item));
                        }
                    }

                    @if (InfoCallback.HasDelegate || DeleteCallback.HasDelegate || EditCallback.HasDelegate || EditCallbackWithString.HasDelegate || DeleteCallbackWithString.HasDelegate)
                    {
                        <td>
                            <div>
                                @if (EditCallback.HasDelegate)
                                {
                                    <button style="border: none; background: none;">
                                        <span class="material-icons" style="color: slategray"
                                            @onclick="() => OnEdit(item.GetType().GetFields()[0].GetValue(item))">
                                            edit
                                        </span>
                                    </button>
                                }
                                @if (EditCallbackWithString.HasDelegate)
                                {
                                    <button style="border: none; background: none;">
                                        <span class="material-icons" style="color: slategray"
                                            @onclick="() => OnEditWithString(item.GetType().GetFields()[0].GetValue(item))">
                                            edit
                                        </span>
                                    </button>
                                }
                                @if (DeleteCallback.HasDelegate)
                                {
                                    <button style="border: none; background: none;"
                                            @onclick="() => SetDeleteTrue(item.GetType().GetFields()[0].GetValue(item))">
                                        <span class="material-icons" style="color: red">
                                            delete
                                        </span>
                                    </button>
                                }
                                @if (DeleteCallbackWithString.HasDelegate)
                                {
                                    <button style="border: none; background: none;"
                                            @onclick="() => SetDeleteTrueWithString(item.GetType().GetFields()[0].GetValue(item))">
                                        <span class="material-icons" style="color: red">
                                            delete
                                        </span>
                                    </button>
                                }
                                @if (InfoCallback.HasDelegate)
                                {
                                    <button style="border: none; background: none;"
                                        @onclick="() => OnInfo(item.GetType().GetFields()[0].GetValue(item))">
                                        <span class="material-icons" style="color: blue; background-color: white; border-radius: 50%;">
                                            info
                                        </span>
                                    </button>
                                }
                         </div>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</section>
@if (EnablePaging) {
    <TablePaging />
}

@code {
    private int _id { get; set; } = -1;
    private string _stringId { get; set; } = "";
    //Geef een lijst met objecten mee aan de Table component, deze objects zijn een klasse die alle atributten bevat die je wilt weergeven, De eerste attribuut is het ID en de laatste is de acties die je wilt
    //Kijk naar de Requests page voor een voorbeeld
    //Zorg dat de naam van de attribuut de naam van de kolommen in de tabel met _ als er een spatie moet zijn
    [Parameter] public T? Object { get; set; } 
    [Parameter] public ICollection<T> Collection { get; set; } = new List<T>();
    //Als je de gekozen acties hebt meegegeven in een attribuut zal je deze eventcallbacks terugkrijgen met het id zodat je in de parent dit kan implementeren.
    [Parameter] public EventCallback<int> InfoCallback { get; set; }

    [Parameter] public EventCallback<int> DeleteCallback { get; set; }
    [Parameter] public EventCallback<string> DeleteCallbackWithString { get; set; }

    [Parameter] public EventCallback<int> EditCallback { get; set; }
    [Parameter] public EventCallback<string> EditCallbackWithString { get; set; }


    [Parameter] public bool EnablePaging { get; set; } = false;

    private bool isRequestingDelete = false;


    // Delete confirmation
    private void SetDeleteTrue(object? id)
    {
        _id = Convert.ToInt32(id);
        isRequestingDelete = true;
    }

    private void SetDeleteTrueWithString(object? id)
    {
        _stringId = id?.ToString();
        isRequestingDelete = true;
    }

    private void SetDeleteFalse()
    {
        isRequestingDelete = false;
        _id = -1;
        _stringId = "";
    }

    // Callbacks
    private void OnInfo(object? id) {
        _id = Convert.ToInt32(id);
        InfoCallback.InvokeAsync(_id);
    }
    private void OnEdit(object? id) {
        _id = Convert.ToInt32(id);
        EditCallback.InvokeAsync(_id);
    }
    private void OnEditWithString(object? id)
    {
        string stringId = id?.ToString();
        EditCallbackWithString.InvokeAsync(stringId);
    }

    private void OnDelete(object? id)
    {
        _id = Convert.ToInt32(id);
        DeleteCallback.InvokeAsync(_id);
    }
    private void OnDeleteWithString(object? id)
    {
        string stringId = id?.ToString();
        DeleteCallbackWithString.InvokeAsync(stringId);
    }
}
