@switch(type)
{
    case ETemplate.MachineLearning:
        <div class="template">
            <p class="title">Machine Learning</p>
            <p>Specs: ddfgjdlkg</p>
            <p>Specs: ddfgjdlkg</p>
            <p>Specs: ddfgjdlkg</p>
        </div>
        break;
    case ETemplate.ArtificialIntelligence:
        <div class="template">
            <p class="title">AI</p>
            <p>Specs: ddfgjdlkg</p>
            <p>Specs: ddfgjdlkg</p>
            <p>Specs: ddfgjdlkg</p>
        </div>
        break;
    case ETemplate.Database:
        <div class="template">
            <p class="title">Database</p>
            <p>Specs: ddfgjdlkg</p>
            <p>Specs: ddfgjdlkg</p>
            <p>Specs: ddfgjdlkg</p>
        </div>
        break;
    default:
        <div class="template">

        </div>
        break;
}

@code {
    [Parameter] public ETemplate type { get; set; }
}
