<div class="usage_bar">
    <div class="container">
        <div class="top_content">
            <div class="top_circle">
                <div class="inner_circle">
                    <HamburgerIcon/>
                </div>
            </div>
            <div class="info">
                <p>HUIDIG GEBRUIK</p>
                <p>Hoeveel werd er al verbruikt en hoeveel is nog over</p>
            </div>
        </div>
        <div class="main_content">
            <div class="usage_stat">--1--</div>
            <div class="usage_stat">--2--</div>
            <div class="usage_stat">--3--</div>
            <div class="usage_stat">--4--</div>
        </div>
    </div>
</div>

@code {

}
