@inject IUsageService UsageService


<div class="usagebar_toggler @UsageTogglerStyleCss" @onclick="ToggleUsageMenu">
    <OpenIcon />
</div>

<div class="usage_bar @UsageVisibleCss">
    <div class="container">
        <div class="top_content">
            <div class="top_circle">
                <div class="inner_circle">
                    <UsageIcon/>
                </div>
            </div>
            <div class="info">
                <p>HUIDIG GEBRUIK</p>
                <p>Hoeveel werd er al verbruikt en hoeveel is er nog over</p>
            </div>
        </div>
        @if (usages != null) {
        <div class="stats">
            @foreach(var u in usages){
                <UsageStat Type=u.UsageType Unit=u.Eenheid Total=u.Total Used=u.Gebruikt/>
            }
        </div>
        }
    </div>
</div>

@code {
    private IEnumerable<UsageDTO.Index>? usages;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        usages = await UsageService.getAllUsageStats();
    }

    private bool disappearOptions = false;

    private string? UsageVisibleCss => disappearOptions ? "available" : null;
    private string? UsageTogglerStyleCss => disappearOptions ? "yes_available" : null;

    private void ToggleUsageMenu()
    {
        disappearOptions = !disappearOptions;
    }
}
