@page "/klanten"
@inject IClientService ClientService

<GenericLayout Display=false Title="Klanten">
    <Content>
        <h1>Klanten</h1>

        <Table Collection="@filteredClients" />
    </Content>
</GenericLayout>


@code{
    private List<ClientDto.Index> clients = new();
    private ICollection<Klant> clientObjects = new List<Klant>();
    public ICollection<Klant> filteredClients = new List<Klant>();

    public class Klant
    {
        public int Id;
        public string? Naam;
        public string? Type;
        public string? Telefoon_nummer;
        public string? Klant_organisatie;
        /* public int Id = 0;
        public string Naam = "";
        public string Type = "";
        public string Email = "";
        public string Departement = ""; */
    }; 

    protected override void OnInitialized()
    {
        base.OnInitialized();
        clients = ClientService.GetAll();
        clients.ForEach(c =>
        {
            clientObjects.Add(new Klant
            {
                Id = c.Id,
                Naam = c.Name,
                Type = ConvertTypeToString(c.ClientType),
                Telefoon_nummer = c.PhoneNumber,
                Klant_organisatie = c.ClientOrganisation
            });
        });
        filteredClients = clientObjects;

    }

    private string ConvertTypeToString(EClientType type) {
        return (type) switch
        {
            EClientType.Internal => "Intern",
            EClientType.External => "Extern",
            _ => ""
        };
    }
}