@page "/klanten"

<GenericLayout Display=false Title="Aanvragen">
    <Content>
        <h1>Klanten</h1>

        <Table Collection="clientObjects" />
    </Content>
</GenericLayout>


@code{
    public class Klant
    {
        public int Id = 0;
        public string Naam = "";
        public string Type = "";
        public string Email = "";
        public string Departement = "";
    };

    public ICollection<Object> clientObjects = new List<Object> {
        new Klant() { Id = 1,  Naam = "Marc Asselberg", Type = "Intern", Email = "marc.asselberg@hogent.be", Departement="HOGENT" },
        new Klant() { Id = 2, Naam = "Marc Asselberg", Type = "Intern", Email = "marc.asselberg@hogent.be", Departement="HOGENT" },
        new Klant() { Id = 3, Naam = "Marc Asselberg", Type = "Intern", Email = "marc.asselberg@hogent.be", Departement="HOGENT" }
    };
}