body {
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 250px auto;
}
.templates{
    grid-column: 1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}

.form {
    grid-column: 2;
    grid-row: 2;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
}
label{
    width: 30%;
    margin: 5px 20px 10px 0px;
}

.request {
    grid-column: 2;
    grid-row: 1;
    margin-right: 150px;
}


.input-group label div{
    background-color: var(--clr-primary);
    padding: 5px;
}
.reden {
    background-color: var(--clr-primary);

    padding: 5px;
}

::deep select.inputField {
    background: white;
    width: 200px;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: 1px solid black;
    outline-offset: -1px;
}