body {
    padding: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}
h2{
    margin-bottom: 0px;
    margin-top: 0px;
}



.input-group {
    display: flex;
    flex-wrap: wrap;
}
label {
    padding: 5px 20px 10px 0px;
    width: 31%;
    min-width: 200px;
}
.field {
    background-color: var(--clr-primary);
    border-radius: 2px;
    padding: 5px;
}


.form-group {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 10px 0px;
    width: 31%;
    min-width: 200px;
}

.form-group label {
    width: fit-content;
}

.reden {
    background-color: var(--clr-primary);
    padding: 5px;
    margin-top: 10px;
    margin-right: 50px;
}

::deep select.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

::deep input.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

.availability {
    display: flex;
    gap: 1em;
}

.day {
    background: white;
    --outline: none;
    --text-decoration: line-through;
    text-decoration: var(--text-decoration);
    border-radius: 50% !important;
    outline: var(--outline);
    aspect-ratio: 1;
    width: 3.5ch;
    display: grid;
    align-items: center;
    justify-content: center;
}

.available {
    --outline: 2px solid var(--clr-text-color);
    --text-decoration: none;
}

.daybtn {
    border: none;
    background-color: none;
    background: none;
    color: none;
}

.line {
    border-top: solid var(--clr-text-color) 2px;
    height: 2px;
    width: 100%;
}

.templates{
    margin-bottom: 20px;
    margin-top: 10px;
}

.showHideBtn {
    border: none;
    background: none;
    font-weight: 500;
    font-size: 12px;
    color: var(--clr-text-color);   
}