body {
    padding: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}
h2{
    margin-bottom: 0px;
    margin-top: 0px;
}



.input-group {
    display: flex;
    flex-wrap: wrap;
}
label {
    padding: 5px 20px 10px 0px;
    width: 31%;
    min-width: 200px;
}
.field {
    background-color: var(--clr-primary);
    border-radius: 2px;
    padding: 5px;
}

.form{
    margin-top: 30px;
}



.reden {
    background-color: var(--clr-primary);
    padding: 5px;
    margin: 5px 45px 10px 0px;
}

::deep select.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

::deep input.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

.availability {
    display: flex;
    gap: 1em;
}

.day {
    background: white;
    --outline: none;
    --text-decoration: line-through;
    text-decoration: var(--text-decoration);
    border-radius: 50% !important;
    outline: var(--outline);
    aspect-ratio: 1;
    width: 3.5ch;
    display: grid;
    align-items: center;
    justify-content: center;
}

.available {
    --outline: 2px solid var(--clr-text-color);
    --text-decoration: none;
}

.daybtn {
    border: none;
    background-color: none;
    background: none;
    color: none;
}