body {
}
.form{
    max-width: 1000px;
    margin: auto;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}
label {
    width: 50%;
    min-width: 200px;
    margin-bottom: 20px;
}
.input-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.reden{
    width: 100%;
    
}


::deep select.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

::deep input.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

