.navbar {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    /*min-height: 115px;*/
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
}

.icon-hamburger-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

::deep .company_logo {
    height: 70px;
    margin: 10px;
    fill: var(--clr-text-color);
}

.nav_options {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

::deep .nav_link:hover, ::deep .nav_link:hover svg {
    background-color: var(--clr-CTA);
    color: var(--clr-primary);
    fill: var(--clr-primary);
}

::deep .nav_link.active {
    background-color: var(--clr-text-color);
    color: var(--clr-primary);
    fill: var(--clr-primary);
    pointer-events: none;
}

::deep .nav_link.active svg {
    fill: var(--clr-primary);
}

::deep .nav_link {
    text-decoration: none;
    color: var(--clr-text-color);
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
}

::deep .nav_link > div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


::deep .nav_link:not(:last-child) {
    border-bottom: 1px dashed var(--clr-text-color);
}

.nav_options {
    border-top: 1px solid var(--clr-text-color);
    border-bottom: 1px solid var(--clr-text-color);
}

.navbar-toggler {
    color: var(--clr-text-color);
    border: none;
    background: none;
    margin-right: 25px;
}

.navbar-toggler:hover {
    cursor: pointer;
}

.navbar-toggler:hover ::deep svg {
    fill: var(--clr-CTA);
}

.navbar-toggler img {
    height: 50px;
}

.gone {
    display: none;
}

.goneIfScreenBig {
    margin-left: 10px;
}

@media (min-width: 1200px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .icon-hamburger-div {
        width: max-content;
    }

    .nav_options {
        width: max-content;
        flex-direction: row;
        justify-content: normal;
        gap: 30px;
        margin-top: 0px;
        margin-right: 10px;
        border:none;
    }

    ::deep .nav_link:nth-child(2n) {
        background: none;
    }

    ::deep .nav_link:nth-child(2n+1) {
        background: none;
    }

    ::deep .nav_link:not(:last-child) {
        border-bottom: none;
    }

    ::deep .nav_link {
        padding: 5px;
        width: auto;
        margin: 0;
        display: inline-block;
        display: flex;
        align-items: center;
        background: red;
        font-size: 18px;
        position: relative;
        border-bottom: none;
    }

    ::deep .nav_link:hover {
        background: none;
        color: var(--clr-CTA)
    }

    ::deep .nav_link:hover svg {
        background: none;
        fill: var(--clr-CTA);
    }

    ::deep .nav_link.active {
        background: none;
        color: var(--clr-text-color);
    }

    ::deep .nav_link.active svg {
        fill: var(--clr-text-color);
    }

    .navbar-toggler {
        display: none;
    }

    .gone {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }

    .goneIfScreenBig {
        display: none;
    }

    ::deep .nav_link::after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: auto;
        left: 0;
        right: 0;
        width: 0%;
        background: var(--clr-CTA);
        -o-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -webkit-transition: 0.2s ease-out;
        transition: 0.25s ease-in-out;
        }

     ::deep .nav_link.active {
        color: var(--clr-text-color)
    }

    ::deep .nav_link.active::after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;
        background: var(--clr-text-color);
    }

    ::deep .nav_link:hover::after {
        width: 100%;
    }

    ::deep .nav_link > div {
        padding: 0;
        display: block;
    }
}