@page "/gebruikers/wijzigen/{id}/algemeen"
@attribute [Authorize (Roles = "Administrator, Moderator")]


@if (loading)
{
    <Loading Title="Gebruiker wijzigen (Algemeen)"/>
    return;
}

@if (error)
{
    <Error Title="Gebruiker wijzigen (Algemeen)" ErrorMessage="@errorMessage"/>
    return;
}

<GenericLayout Display=false Title=@($"Gebruiker Wijzigen - {_userGeneralInfo.FirstName} {_userGeneralInfo.LastName}")>
    <Content>
        <p>*Indien formulier niet ingediend kan worden, probeer een ander email / controleer je connectie</p>
        <EditForm Model="@_userGeneralInfoMutate" OnValidSubmit="@OnSubmit" >
            <FluentValidationValidator />
            <div>
                <label>Voornaam</label>
                <div>
                    <InputText @bind-Value="_userGeneralInfoMutate.FirstName"/>
                    <ValidationMessage For="() => _userGeneralInfoMutate.FirstName"/>
                </div>
            </div>
            <div>
                <label>Achternaam</label>
                <div>
                    <InputText @bind-Value="_userGeneralInfoMutate.LastName"/>
                    <ValidationMessage For="() => _userGeneralInfoMutate.LastName"/>
                </div>
            </div>
            <div>
                <label>Email</label>
                <div>
                    <InputText @bind-Value="_userGeneralInfoMutate.Email"/>
                    <ValidationMessage For="() => _userGeneralInfoMutate.Email"/>
                </div>
            </div>
            <div>
                <label>Actief</label>
                <div>
                    <InputCheckbox @bind-Value="_userGeneralInfoMutate.Blocked"/>
                </div>
            </div>
            <div>
                <label>Schermnaam (Hoe wilt u dat we u noemen wanneer ingelogd)</label>
                <div>
                    <InputText @bind-Value="_userGeneralInfoMutate.ScreenName"/>
                    <ValidationMessage For="() => _userGeneralInfoMutate.ScreenName"/>
                </div>
            </div>
            <button type="submit">Submit form</button>
        </EditForm>
    </Content>
</GenericLayout>

