.container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    
}

.input-container {
    max-width: 500px;
    width: 90%;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    gap: 5px;
}

.input-container section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container section:last-child {
    margin-top: 5px;
}

.group {
    display: flex;
    flex-wrap :wrap;
    width: 100%;
    gap: 10px;
    justify-content: space-between;

}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
    gap: 1em;
}

::deep select.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

::deep input.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
    height: 25px;
}

::deep input[type=checkbox]{
    width: 20px;
    height: 20px;
}

@media (max-width: 720px) {
    .button-container {
        flex-direction: column;
    }

    .input-container {
        flex-direction: column;
        align-items: center;
    }

    .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}