@page "/klanten/aanmaken"
@page "/klanten/wijzigen/{id:int}"
@inject IClientService ClientService
@inject NavigationManager NavigationManager

<GenericLayout Display=false Title="@(IsEdit ? $"Klant wijzigen - {_clientName}" : "Klant toevoegen")">
    <Content>
        <EditForm Model="@_client" OnValidSubmit="OnSubmit" >
            <FluentValidationValidator />
            <div class="center-container">
                <div class="container">

                    <div class="input-container">
                        <section>
                            <div class="group">
                                <label>Voornaam</label>
                                <div>
                                    <InputText @bind-Value="_client.Surname" class="inputField" />
                                    <ValidationMessage For="() => _client.Surname" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Naam</label>
                                <div>
                                    <InputText @bind-Value="_client.Name" class="inputField" />
                                    <ValidationMessage For="() => _client.Name" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Telefoon nr.</label>
                                <div>
                                    <InputText @bind-Value="_client.PhoneNumber" class="inputField" />
                                    <ValidationMessage For="() => _client.PhoneNumber" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Email</label>
                                <div>
                                    <InputText @bind-Value="_client.Email" class="inputField" />
                                    <ValidationMessage For="() => _client.Email" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Backup contact</label>
                                <div>
                                    <InputText @bind-Value="_client.BackupContact" class="inputField" />
                                    <ValidationMessage For="() => _client.BackupContact" />
                                </div>
                            </div>
                        </section>
                        <section>                        
                            <div class="group">
                                <label>Klant organisatie</label>
                                <div>
                                    <InputText @bind-Value="_client.ClientOrganisation" class="inputField" />
                                    <ValidationMessage For="() => _client.ClientOrganisation" />
                                </div>
                            </div>
                            <div class="group">
                                <label>Type Organisatie</label>
                                <div>
                                    <InputSelect @bind-Value="_client.ClientType" class="inputField">
                                        <option value="@EClientType.Internal">Intern</option>
                                        <option value="@EClientType.External">Extern</option>
                                    </InputSelect>
                                    <ValidationMessage For="() => _client.ClientType" />
                                </div>
                            </div>
                            @if (_client.ClientType == EClientType.Internal) {
                                <div class="group">
                                    <label>Opleiding</label>
                                    <div>
                                        <InputText @bind-Value="_client.Education" class="inputField" />
                                        <ValidationMessage For="() => _client.Education" />
                                    </div>
                                </div>
                            }
                            @if (_client.ClientType == EClientType.External) {
                                <div class="group">
                                    <label>Extern type</label>
                                    <div>
                                        <InputText @bind-Value="_client.ExternalType" class="inputField" />
                                        <ValidationMessage For="() => _client.ExternalType" />
                                    </div>
                                </div>
                            }
                        </section>
                    </div>
                    <div class="button-container">
                        @if (IsEdit) 
                        {
                            <button type="submit" class="btn-primary">Wijzigen</button>
                        } else 
                        {
                            <button type="submit" class="btn-primary">Toevoegen</button>
                        }
                        <a href="/klanten" class="btn-secondary">Annuleren</a>
                    </div>
                </div>
            </div>
        </EditForm>
    </Content>
</GenericLayout>

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public bool IsEdit { get; set; } = false;

    private ClientDto.Mutate _client = new();
    private string _clientName = "";

    protected override async Task OnInitializedAsync() 
    {
        if (Id.HasValue && NavigationManager.Uri.Contains("wijzigen"))
        {
            IsEdit = true;
            var response = await ClientService.GetDetailAsync(Id.Value);
            _clientName = response?.Name;
            _client = new ClientDto.Mutate
            {
                Surname = response.Surname,
                Name = response.Name,
                PhoneNumber = response.PhoneNumber,
                ClientType = response.ClientType,
                ClientOrganisation = response.ClientOrganisation,
                Email = response.Email,
                BackupContact = response.BackupContact,
                Education = response.Education,
                ExternalType = response.ExternalType,
            };
        }
    }

    private void OnSubmit()
    {
        if (IsEdit) 
        {
            EditClientAsync();
        } else 
        {
            CreateClientAsync();
        }

    }

    private async void CreateClientAsync() 
    {
        var response = await ClientService.CreateAsync(_client);
        NavigationManager.NavigateTo($"/klanten/{response}");
    }

    private async void EditClientAsync() 
    {
        await ClientService.EditAsync(Id.Value, _client);
        NavigationManager.NavigateTo("/klanten");
    }
}
