@page "/historiek/voorspelling"
@using System.Globalization

<GenericLayout Display="false" Title="Voorspelling">
    <Actions>
        <input type="date" id="datum" name="datum"
                min=@($"{DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)}") 
                max=@($"{DateTime.Now.AddYears(1).ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)}") 
                @bind-value="activitydatum" 
                @bind-value:event="oninput"
        />
        <select name="evolutie" id="evolutie" @bind="evolutie">
            <option value="1">1 maand</option>
            <option value="3">3 maanden</option>
            <option value="5">5 maanden</option>
            <option value="8">8 maanden</option>
            <option value="12">1 jaar</option>
        </select>
    </Actions>
    <Content>
        <div class="datacomponent">
            <div class="analysis_stats">
                <UsageStat Type=@EUsage.Cpu Unit=@EUsageUnit.Cores Total=@DefinitieftotaalCPU Used=@DefinitiefgebruikCPU />
                <UsageStat Type=@EUsage.Ram Unit=@EUsageUnit.GB Total=@DefinitieftotaalRAM Used=@DefinitiefgebruikRAM />
                <UsageStat Type=@EUsage.Storage Unit=@EUsageUnit.GB Total=@DefinitieftotaalStorage Used=@DefinitiefgebruikStorage />
            </div>
        </div>

        <div class="grafiekcomponent">
            <div class="grafiekdatum">
                <label for="grafiekdatum">Kies een datum voor grafische weergave:</label>
                <br />
                <input type="date" id="grafiekdatum" name="grafiekdatum"
                    min=@($"{DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)}") max=@($"{DateTime.Now.AddYears(1).ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)}") @bind-value="grafiekdatum" @bind-value:event="oninput">
                <br />
            </div>

            <div class="grafiek">
                <p>Verbruik CPU, RAM en Opslag:</p>
                <RadzenChart>
                    <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="Verbruik CPU" LineType="LineType.Solid" ValueProperty="CPU">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="Verbruik RAM" LineType="LineType.Solid" ValueProperty="RAM">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="false" Data="@historiek" CategoryProperty="Date" Title="Verbruik Opslag" LineType="LineType.Solid" ValueProperty="Storage">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="1" Formatter="@FormatAsMonth"/>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis> 
                </RadzenChart>
            </div>
        </div>
    </Content>
</GenericLayout>