.title-container {
    background-color: var(--clr-background-title);
}

    .title-container > h1 {
        padding: 8px 20px;
        margin-block-end: 0px;
    }

.analytics-container {
    display: flex;
    flex-direction: row;
}

.currentUse-container {
    width: 20%;
    background-color: var(--clr-background-title);
}

/*sdfsdfsdf*/
@media screen and (max-width: 640px) {
    .title-container > h1 {
        text-align: center;
        margin-block-end: 0.7em;
    }

    .analytics-container {
        flex-direction: column;
    }

    .currentUse-container {
        width: 100%;
    }
}

.datacomponent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 95%;
    padding: 10px;
    background-color: var(--clr-background-title);
    /*background-color: var(--clr-usage-toggler-background);*/
    /*background-color: var(--clr-primary);*/
    margin-top: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.analysis_stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    /*background-color: white;*/
    background-color: var(--clr-usage-container);
    border-radius: 15px;
}

.statsdatum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--clr-secondary);
    /*background-color: var(--clr-background-title);*/
    /*background-color: var(--clr-usage-toggler-background);*/
    font-family: Roboto;
    text-align: center;
    border-radius: 15px;
}

.statsdatum input {
    color: var(--clr-text-color);
    border-radius: 5%;
    background-color: var(--clr-secondary);
}

.grafiekcomponent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    width: 95%;
    padding: 10px;
    background-color: var(--clr-background-title);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.grafiek {
    margin: 0 auto;
    text-align: center;
    background-color: var(--clr-primary);
    border-radius: 15px;
}

.grafiekdatum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--clr-secondary);
    font-family: Roboto;
    text-align: center;
    border-radius: 15px;
}

.grafiekdatum input {
    color: var(--clr-text-color);
    border-radius: 5%;
    background-color: var(--clr-secondary);
}

.grafiekdatum select {
    color: var(--clr-text-color);
    border-radius: 5%;
    background-color: var(--clr-secondary);
}


@media screen and (max-width: 910px) {
    .datacomponent {
        width: 90%;
    }

    .analysis_stats {
        flex-direction: column;
        width: 95%;
    }

    .statsdatum {
        width: 95%;
    }

    .grafiekcomponent {
        flex-direction: column;
        width: 90%;
    }
    
    .grafiek {
        width: 95%;
        height: auto;
    }

    .grafiekdatum {
        margin-bottom: 15px;
        width: 95%;
        height: auto;
        padding: 5px;
    }
}

@media screen and (min-width: 910px) {
    .datacomponent {
        height: 320px;
    }

    .analysis_stats {
        width: 95%;
    }

    .statsdatum {
        width: 95%;
    }

    .grafiekcomponent {
        justify-content: space-between;
        width: 95%;
        height: 400px;
        position: sticky;
        padding: 10px;
        gap: 10px;
        max-height: 400px;
    }

    .grafiek {
        width: 80%;
        height: 95%;
        padding: 5px;
    }

    .grafiekdatum {
        width: auto;
        height: 95%;
        padding: 5px;
    }

    
}
