@page "/historiek"

<PageTitle>Rapportering</PageTitle>

<div style="background-color: #E4E8EF;">
    <h1 style="padding: 8px 20px;">Historiek</h1>
</div>
<div style="display: flex; flex-direction: row;">

</div>

@code {
    private List<Activity> _activities = new();
}
