@page "/virtualmachines"
@inject IVirtualMachineService VMService

<h3>VirtualMachines</h3>

@foreach(VirtualMachine vm in List)
{
    <p>@vm.Name</p>
}

@code {
    private List<VirtualMachine> List = new();
    protected override void OnInitialized()
    {
        List = VMService.GetAll();
    }
}
