@page "/virtualmachines"
@using global::Shared
@inject IVirtualMachineService VMService

<h3>VirtualMachines</h3>

@foreach(VirtualMachine vm in list)
{
    <p>@vm.Name</p>
}

@code {
    private List<VirtualMachine> list;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        list = VMService.GetAll();
    }
}
