@page "/virtualmachines"
@inject IVirtualMachineService VMService

@*TODO change page title*@
<h1 id="vm-title">Virtuele Machines</h1>

@*TODO maybe change to table *@
<section aria-labelledby="vm-title" class="vm_list">
@foreach(VirtualMachine vm in list)
{
        <a class="link" href=@($"/virtualmachines/{@vm.Id}")>
            <div class="vm_container" >
                <p class="vm_name">@vm.Name</p>
                <p class=@(String.Join(" ", new List<string>() {"vm_status", vm.IsActive ? "active" : ""}))>@(vm.IsActive ? "Aan" : "Uit")</p>
            </div>
        </a>
}
</section>



@code {
    private List<VirtualMachine> list = new();
    protected override void OnInitialized()
    {
        list = VMService.GetAll();
    }
}
