body {
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 1000px;
    margin: auto;
}
label {
    width: 50%;
    min-width: 200px;
    margin-bottom: 20px;
}