.dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
    display: flex;
}
.dialog {
    background-color: var(--clr-secondary-var3);
    min-width: calc(100% - 40rem);
    min-height: 600px;
    max-height: 100px;
    z-index: 2000;
    margin: auto;
    border-radius: 20px;
}
.dialog-title {
    background-color: var(--clr-text-color);
    color: #fff2cc;
    padding: 1.3rem 2rem;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}

    .dialog-title h2 {
        color: white;
        font-size: 1.4rem;
        margin: 0;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        line-height: 1.3rem;
    }

.dialog-body {
    flex-grow: 1;

    margin: 20px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
}
label {
    min-width: 30%;
    margin: 5px 20px 10px 0px;
}

::deep select.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}

::deep input.inputField {
    background: white;
    width: 100%;
    padding: 5px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-radius: 2px;
}