<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>CustomTemplateDialog</h2>
        </div>


        <button @onclick=OnCancel>Annuleer</button>
        <button @onclick=OnConfirm>Gebruik aangepaste template</button>
    </div>
    </div>
@code {
    private Template _template = new();
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }

    private void HandleValidSubmit(){
        
    }
}
