using System.ComponentModel.DataAnnotations;

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>CustomTemplateDialog</h2>
        </div>
        <div class="dialog-body">
          <EditForm Model="@_template" OnValidSubmit="@HandleValidSubmit">
            <div class="input-group">
                <label>
                    Mode
                    <InputSelect @bind-Value="_template.Mode" class="inputField">
                        @foreach(EMode m in EMode.GetValues(typeof(EMode))){
                            <option value=@m>@m</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(()=> _template.Mode)"></ValidationMessage>
                </label>

                <label>
                    CPU <br/>
                    <InputNumber @bind-Value="_template.Cpu" class="inputField" />
                </label>

                <label>
                    Ram <br />
                    <InputNumber @bind-Value="_template.Ram" class="inputField" />
                </label>

                <label>
                    Storage <br />
                    <InputNumber @bind-Value="_template.Storage" class="inputField" />
                </label>
            </div>


            <button @onclick=OnCancel class="btn-secondary">Annuleer</button>
            <button type="submit" class="btn-primary">Gebruik aangepaste template</button>
        </EditForm>
        </div>
    </div>
</div>
@code {
    public class Temp 
    {
        public EMode Mode { get; set; }
        public int Cpu { get; set; }
        public int Ram { get; set; }
        public int Storage { get; set; }
    }
    private Temp _template = new();
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback<Template> OnConfirm { get; set; }

    private void HandleValidSubmit(){
        Template template = new()
            {
                Mode = _template.Mode,
                Stats = new Stats()
                {
                    Cpu = _template.Cpu,
                    Ram = _template.Ram,
                    Storage = _template.Storage
                },
            };
        OnConfirm.InvokeAsync(template);
    }
}
