
.template {
    background-color: var(--clr-primary);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin: 5px
}
button {
    color: var(--clr-CTA);
    font-weight: 600;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.title {
    text-transform: uppercase;
    padding: 10px;
}

p {
    margin: 0;
    padding-left: 10px;
}
