
.template {
    background-color: var(--clr-primary);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
button {
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.active {
    background-color: var(--clr-CTA);
    color: #FFFFFF;
}
.inactive {
    background-color: #FFFFFF;
    color: var(--clr-CTA);
}
th{
    font-weight:500;
}
table, th, td {
    border: none;
    border-spacing: 0
}

td {
    padding: 10px;
}

tr td:not(:first-child), tr th:not(:first-child) {
    border-left: 1px solid black;
}
table{
    margin-bottom: 5px;
    margin-top: 5px;   
}



p {
    margin: 0;
    padding-left: 10px;
}
h3{
    margin: 0px;
}
