<div class="template">

        <h3>@Template?.Type</h3>
        <table>
            <tr>
                <th>Software</th>
                <th>Ram</th>
                <th>CPU</th>
                <th>Storage</th>
            </tr>
            <tr>
 
                <td>@Template?.Software</td>
                <td>@Template?.RAM</td>
                <td>@Template?.CPU</td>
                <td>@Template?.Storage</td>
            </tr>

        </table>
        @if (ActiveTemplate.Equals(Template?.Id))
        {
        <button @onclick="handleClick" class="active" data-testid="btn-template">Selecteer template</button>
        }
        else{
        <button @onclick="handleClick" class="inactive" data-testid="btn-template">Selecteer template</button>
        }

</div>

@code {
    [Parameter] public TemplateDto.Detail? Template { get; set; }
    [Parameter] public int? ActiveTemplate {get; set;}
    [Parameter] public EventCallback TemplateClicked { get; set; }
    private bool active = false;

    private void handleClick(){
        active = !active;
        TemplateClicked.InvokeAsync();
    }

}