@page "/"
@using System.Globalization
@using Shared.AuthUsers
@inject HttpClient Http

<GenericLayout Display=false Title="Dashboard" StatsTitle="@($"Gebruik op {(DateTime.Now).ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)}")">
    <Content>
        <AuthorizeView>
            <Authorized>
                <h2>Hallo, @context.User.Identity.Name!</h2>
            </Authorized>
            <NotAuthorized>
                <h2>U heeft geen toegang tot deze pagina. Log in voor toegang.</h2>
            </NotAuthorized>
        </AuthorizeView>
    </Content>
</GenericLayout>
